body {
  background-color: #000000; /* hitam */
  font-family: Arial, sans-serif;
  margin: 20px;
  color: #0066ff; /* biru terang untuk teks default */
}

h1 {
  color: #00aaff; /* biru lebih cerah untuk judul */
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
  text-align: center;
  color: #0066ff; /* biru untuk paragraf */
}

button {
  display: block;
  margin: 30px auto;
  padding: 10px 20px;
  background-color: #0066ff; /* biru untuk tombol */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0033cc; /* biru gelap saat hover */
}
